html, body {
	margin: 0px;
	height: 100%;
}
body {
	background-color: aliceblue;
	font-family: Calibri, sans-serif;
	color: white;
	text-align: center;
	overflow-y: hidden;
}
div {
	padding: 5px;
}
html {
	scroll-behavior: smooth;
}


#open {
	background-color: blue;
	clear: both;
	position: relative;
	height: 100vh;
}
#popup {
	background-color: purple;
	clear: both;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	width: 450px;
	z-index: 9;
}
#popbutton {
	float: right;
}
#mid {
	background-color: pink;
	clear: both;
	height: 150px;
	position: relative;
	height: 100vh;
}