body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
}

#pi-loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Content */
#info {
    border: white 2px dashed;
    border-radius: 4px;
    padding: 7px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
#head {
    color: #d55b86;
}
#phase {
    color: #61e8ed;
}

a:active {
    color: rgb(138, 101, 181);
}